@import "tailwindcss";

@theme{
  
--color-Green500:hsl(158, 36%, 37%);
--color-Green700:hsl(158, 42%, 18%);
--color-Black: hsl(212, 21%, 14%);
--color-Grey: hsl(228, 12%, 48%);
--color-Cream: hsl(30, 38%, 92%);
--color-White: hsl(0, 0%, 100%);
--font-Fraunces:"Fraunces", serif;
--font-Montserrat:"Montserrat", sans-serif;
}

@layer base{
  body{
   font-size: 0.875rem;
  }
  
}