@import "tailwindcss";

@theme{
  --color-Blue500: hsl(223, 87%, 63%);
  --color-Blue200: hsl(223, 100%, 88%);
  --color-Red400: hsl(354, 100%, 66%);
  --color-Gray400: hsl(0, 0%, 59%);
  --color-Blue950: hsl(209, 33%, 12%);

}

@layer base{
  body{
   font-size: 1.25rem;
   font-family: "Libre Franklin", sans-serif;
  };
}


